#home-cta-container {
    width: 60%;
    margin: auto;
}

.home-cta-image-container {
    img {
        margin-top: auto;
        margin-bottom: auto;
        object-fit: contain;
        width: 239px;
        height: 150px;
        @include respond-below("lg") {
            height: 200px;        
        }
    }
}

#cta-covid-separator-image {
    width: 100%;
    max-width: 133px;
}

.home-cta-text {
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: 400;
    align-self: center;
    strong {
        font-weight: 900;
    }
}

#home-cta-btn-researchers {
    background-color: #d04a43 !important;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    border: 0;
    padding: .7em 1.5em;
    transition: background-color .15s ease-in-out;
    &:hover {
        background-color: #a23833!important;
        transition: background-color .15s ease-in-out;
    }
}

#home-cta-btn-volunteers {
    background-color: #0d0149!important;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    border: 0;
    padding: .7em 1.5em;
    transition: background-color .15s ease-in-out;
    &:hover {
        background-color: #4e4679!important;
        transition: background-color .15s ease-in-out;
    }
}

#home-cta-btn-contact {
    background-color: #d1d3d3 !important;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    border: 0;
    padding: 12px 40px;
    transition: background-color .15s ease-in-out;
    &:hover {
        background-color: #b3b3b3 !important;
        transition: background-color .15s ease-in-out;
    }
}

.home-text-container {
    p {
        font-size: 18px;
    }
}
.home-contains-image {
    text-align: center;
    img {
        width: 100%;
        max-width: 1020px;
    }
}

.home-some-container {
    ul {
        list-style-type: none;
        padding: 0px;
        li {
            display: inline-block;
            padding-right: 10px;
            &:last-child {
                padding-right: 0px;
            }
            img {
                max-width: 48px;
                width: 48px;
            }
        }
    }
}










// #navbarNav ul {
  // display: flex;
  // padding: 0;
// }
// @media all and (max-width: 576px) {
  // #navbarNav ul {
    // display: flex;
    // flex-direction: column;
  // }
// }
// #navbarNav .nav-item a {
  // padding: .5em 1em;
  // margin: auto;
  // font-weight: 600;
  // text-decoration: none;
  // color: rgba(0,0,0,.7);
  // text-align: center;
// }
// #navbarNav .nav-item {
  // position: relative;
  // display: flex;
  // align-items: stretch;
// }
// #navbarNav .nav-item:hover {
  // background-color: #f1f1f1;
// }
// #navbarNav .nav-item:active {
  // background-color: #cbcbcb;
// }
// #navbarNav .nav-item:hover::after {
  // content: '';
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // width: 100%;
  // height: 3px;
  // background-color: #ed3b3b;
// }
//
// .w90 { width: 90% }
// .w80 { width: 80% }
// .w70 { width: 70% }
// .w60 { width: 60% }
// .w50 { width: 50% }
//
// .home-cta-cards {
  // --close-margin: 50px;
// }
// .join-card {
  // margin-right: calc(-1.7 * var(--close-margin));
// }
// .request-card {
  // margin-left: calc(-1.7 * var(--close-margin));
  // margin-top: calc(2 * var(--close-margin));
  // margin-right: -20px; [> Compensate odd clip-path svg behavior <]
// }
//
//
// .shadow-parent {
  // display: inline-block;
  // filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
// }
//
// .join-card,
// .request-card {
  // position: relative;
  // width: calc(550px * 1); [> Sync with svg scale <]
  // height: calc(230px * 1.1); [> Sync with svg scale <]
  // background-color: #ececec;
  // font-weight: 600;
  // transition: all 0.15s;
// }
// .join-card {
  // padding-top: 1em;
  // clip-path: url(#cta-left-clip);
// }
// .request-card {
  // clip-path: url(#cta-right-clip);
  // padding-top: 50px;
  // padding-right: 17px;
// }
// .request-card > * {
  // text-align: right;
  // margin-left: auto;
  // margin-bottom: 20px;
// }
//
// .join-card::after,
// .request-card::after {
  // content: '';
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // opacity: 0;
  // z-index: 10;
// }
// .join-card:hover::after {
  // opacity: 1;
  // background-color: rgba(152, 104, 104, 0.5);
// }
// .request-card:hover::after {
  // opacity: 1;
  // background-color: rgba(89, 89, 121, 0.5);
// }
//
// .join-card .bottom-card-link,
// .request-card .top-card-link {
  // position: absolute;
  // z-index: 20;
  // width: 100%;
  // color: #fff;
  // text-decoration: none;
  // font-weight: 600;
  // transition: all 0.15s;
// }
// .join-card .bottom-card-link {
  // bottom: 0;
  // left: 0;
  // padding: .2em 150px .2em 0;
  // background-color: #d04a43;
// }
// .request-card .top-card-link {
  // top: 0;
  // right: 0;
  // padding: .2em 15px .2em 150px;
  // background-color: #4e4679;
// }
// .join-card:hover .bottom-card-link,
// .request-card:hover .top-card-link {
  // padding-top: .7em;
  // padding-bottom: .7em;
  // font-size: 1.5em;
// }
//
//
//
// .cover-link {
  // display: block;
  // position: absolute;
  // left: 0;
  // top: 0;
  // width: 100%;
  // height: 100%;
  // z-index: 300;
// }
//
//
// @media all and (max-width: 992px) {
  // .home-cta-cards {
    // --close-margin: 20px;
  // }
  // .home-cta-cards {
    // flex-direction: column;
  // }
  // .join-card {
    // margin-left: var(--close-margin);
  // }
  // .request-card {
    // margin-top: calc(.5 * var(--close-margin));
    // margin-right: calc(-20 + var(--close-margin));
    // margin-left: auto; [> Align right <]
  // }
// }
//
// @media all and (max-width: 576px) {
  // .shadow-parent {
  // }
  // .join-card,
  // .request-card {
    // clip-path: none;
    // max-width: 100%;
    // border-radius: 10px;
    // overflow: hidden;
    // max-width: 100%;
  // }
  // .join-card,
  // .request-card,
  // .join-card .bottom-card-link,
  // .request-card .top-card-link,
  // .join-card *,
  // .request-card * {
    // margin-left: auto;
    // margin-right: auto;
    // padding-left: 0;
    // padding-right: 0;
  // }
  // .request-card {
		// margin-top: 30px;
		// margin-right: 0;
    // margin-left: auto; [> Align right <]
    // padding-top: 2em;
  // }
  // .join-card .bottom-card-link {
    // border-radius: 0 0 10px 10px;
  // }
  // .request-card .top-card-link {
    // border-radius: 10px 10px 0 0;
    // border-radius: 0 0 10px 10px;
    // top: auto;
    // bottom: 0;
    // margin-bottom: 0;
  // }
// }
//
//
//
// .explain-title {
  // --chevron-size: 30px;
	// clip-path: polygon(calc(100% - var(--chevron-size)) 0%, 100% 50%, calc(100% - var(--chevron-size)) 100%, 0% 100%, var(--chevron-size) 50%, 0% 0%);
  // padding: 1em 1em 1em 3em;
  // min-width: 15em;
	// font-size: 20pt;
	// background-color: #ececec;
	// color: #636363;
	// background-color: #6a6969;
	// color: #ececec;
	// font-weight: 900;
	// position: relative;
	// z-index: 2;
  // margin: 0.5em 0;
// }
//
// .explain-description {
	// --chevron-size: 30px;
	// font-weight: 600;
	// position: relative;
	// z-index: -1;
	// border-left: 3px solid #ea372e;
	// margin-left: 3em;
	// padding-left: 2em;
	// margin: 1em 3em;
//
  // min-height: 3em;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
// }
//
// .explain-description p:last-child {
  // margin-bottom: 0;
// }
//
// .shadow2 { filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5)); }
//
// @media all and (max-width: 992px) {
  // .explain-title {
    // padding: .6em .6em .6em 2.2em;
    // min-width: 10em;
    // font-size: 16pt;
  // }
  // .explain-description {
  // }
// }
//
// @media all and (max-width: 576px) {
  // #crf-motivation > * {
    // flex-direction: column;
  // }
  // .explain-title {
  // }
  // .explain-description {
  // }
// }
//
//
//
//
//
//
//
//
//
// .about-block h5 {
  // position: relative;
  // display: inline;
  // font-size: 25px;
  // font-weight: 900;
// }
// .about-block h5:after {
  // content: '';
  // position: absolute;
  // left: 0;
  // bottom: -4px;
  // width: 100%;
  // height: 3px;
  // background-color: #cf443c;
// }
//
//
// #core-team .person-img {
  // border-radius: 50%;
  // overflow: hidden;
  // transition: all .2s;
// }
// #core-team .team-person .person-img img {
  // filter: grayscale(100%);
  // transition: all .2s;
// }
// #core-team .team-person:hover .person-img img {
  // filter: none;
  // transform: scale(1.2);
// }
//
//
//
//
//































/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#navbarNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
@media all and (max-width: 576px) {
  #navbarNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
#navbarNav .nav-item a {
  position: relative;
  padding: .5em 1em;
  font-weight: 600;
  text-decoration: none;
  color: rgba(0,0,0,.7);
}
#navbarNav .nav-item > a {
  margin: auto;
  text-align: center;
}
#navbarNav .nav-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
}
#navbarNav .nav-item a:hover {
  background-color: #f1f1f1;
}
#navbarNav .nav-item a:active {
  background-color: #cbcbcb;
}
#navbarNav .nav-item .nav-link:hover::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ed3b3b;
}

#menu-header-menu .dropdown {
  text-align: center;
}
#menu-header-menu .dropdown-menu {
  text-align: left;
  border: none;
  box-shadow: 0px 5px 5px #cfcfcf;
}
#menu-header-menu a.dropdown-item {
  border-left: 3px solid rgba(1,1,1,0);
  width: auto;
}
#menu-header-menu a.dropdown-item:hover {
  border-left: 3px solid #ed3b3b;
}
#menu-header-menu a.dropdown-item:active {
}
.dropdown-ml-1 { margin-left: 0em; }
.dropdown-ml-2 { margin-left: 1em; }
.dropdown-ml-3 { margin-left: 2em; }
.dropdown-ml-4 { margin-left: 3em; }
.dropdown-ml-5 { margin-left: 4em; }


@include respond-below('xs') {
  #menu-header-menu .dropdown-menu {
    position: static;
    margin: auto;
    display: inline-block;
    float: none;
  }
}




.w90 { width: 90% }
.w80 { width: 80% }
.w70 { width: 70% }
.w60 { width: 60% }
.w50 { width: 50% }

.home-cta-cards {
  --close-margin: 50px;
}
.join-card {
  margin-right: calc(-1.7 * var(--close-margin));
}
.request-card {
  margin-left: calc(-1.7 * var(--close-margin));
  margin-top: calc(2 * var(--close-margin));
  margin-right: -20px; /* Compensate odd clip-path svg behavior */
}


.shadow-parent {
  display: inline-block;
  -webkit-filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
          filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.join-card, 
.request-card {
  position: relative;
  width: calc(550px * 1); /* Sync with svg scale */
  height: calc(230px * 1.1); /* Sync with svg scale */
  background-color: #ececec;
  font-weight: 600;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
.join-card {
  padding-top: 1em;
  -webkit-clip-path: url(#cta-left-clip);
          clip-path: url(#cta-left-clip);
}
.request-card {
  -webkit-clip-path: url(#cta-right-clip);
          clip-path: url(#cta-right-clip);
  padding-top: 50px;
  padding-right: 17px;
}
.request-card > * {
  text-align: right;
  margin-left: auto;
  margin-bottom: 20px;
}

.join-card::after,
.request-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
}
.join-card:hover::after {
  opacity: 1;
  background-color: rgba(152, 104, 104, 0.5);
}
.request-card:hover::after {
  opacity: 1;
  background-color: rgba(89, 89, 121, 0.5);
}

.join-card .bottom-card-link,
.request-card .top-card-link {
  position: absolute;
  z-index: 20;
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
.join-card .bottom-card-link {
  bottom: 0;
  left: 0;
  padding: .2em 150px .2em 0;
  background-color: #d04a43;
}
.request-card .top-card-link {
  top: 0;
  right: 0;
  padding: .2em 15px .2em 150px;
  background-color: #4e4679;
}
.join-card:hover .bottom-card-link,
.request-card:hover .top-card-link {
  padding-top: .7em;
  padding-bottom: .7em;
  font-size: 1.5em;
}



.cover-link {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
}


@media all and (max-width: 992px) {
  .home-cta-cards {
    --close-margin: 20px;
  }
  .home-cta-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .join-card {
    margin-left: var(--close-margin);
  }
  .request-card {
    margin-top: calc(.5 * var(--close-margin));
    margin-right: calc(-20 + var(--close-margin));
    margin-left: auto; /* Align right */
  }
}

@media all and (max-width: 576px) {
  .shadow-parent {
  }
  .join-card,
  .request-card {
    -webkit-clip-path: none;
            clip-path: none;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    max-width: 100%;
  }
  .join-card,
  .request-card,
  .join-card .bottom-card-link,
  .request-card .top-card-link,
  .join-card *,
  .request-card * {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .request-card {
	  margin-top: 30px;
	  margin-right: 0;
    margin-left: auto; /* Align right */
    padding-top: 2em;
  }
  .join-card .bottom-card-link {
    border-radius: 0 0 10px 10px;
  }
  .request-card .top-card-link {
    border-radius: 0 0 10px 10px;
    top: auto;
    bottom: 0;
    margin-bottom: 0;
  }
}


/* MOTIVATION BLOCK */

.explain-title {
  --chevron-size: 30px;
	-webkit-clip-path: polygon(calc(100% - var(--chevron-size)) 0%, 100% 50%, calc(100% - var(--chevron-size)) 100%, 0% 100%, var(--chevron-size) 50%, 0% 0%);
	        clip-path: polygon(calc(100% - var(--chevron-size)) 0%, 100% 50%, calc(100% - var(--chevron-size)) 100%, 0% 100%, var(--chevron-size) 50%, 0% 0%);
  padding: 1em 1em 1em 3em;
  min-width: 15em;
	font-size: 20pt;
	background-color: #ececec;
	color: #636363;
	background-color: #6a6969;
	color: #ececec;
	font-weight: 900;
	position: relative;
	z-index: 2;
  margin: 0.5em 0;
}

.explain-description {
	--chevron-size: 30px;
	font-weight: 600;
	position: relative;
	z-index: -1;
	border-left: 3px solid #ea372e;
	margin-left: 3em;
	padding-left: 2em;
	margin: 1em 3em;

  /* Contents with minimum height of 3 lines, centered */
  min-height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explain-description p:last-child {
  margin-bottom: 0;
}

.shadow2 { -webkit-filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5)); filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5)); }

@media all and (max-width: 992px) {
  .explain-title {
    padding: .6em .6em .6em 2.2em;
    min-width: 10em;
    font-size: 16pt;
  }
  .explain-description {
  }
}

@media all and (max-width: 576px) {
  #crf-motivation > * {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .explain-title {
  }
  .explain-description {
  }
}









.about-block h5 {
  position: relative;
  display: inline;
  font-size: 25px;
  font-weight: 900;
}
.about-block h5:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background-color: #cf443c;
}


#core-team .person-img {
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
#core-team .team-person img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
#core-team .team-person:hover .person-img img {
  -webkit-filter: none;
          filter: none;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}






